:host {
  display: block;
  position: absolute;
  right: 0;
  top: 32px;
  transform: translate3d(0,0,0);
  z-index: 5;
}

.card {
  width: 400px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: calc(100% - 32px);
  padding: 51px 32px 16px;
}
