@import '../../../material-theme.scss';

.close-button {
  float: right;
  margin-top: -3px;
}

a {
  color: $primary;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.credit {
  margin-top: 30px;
}
