@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../styles.scss' as styles;

$color-config: mat.get-color-config(styles.$settlers-setup-theme);
$primary-palette: map.get($color-config, 'primary');

h1 {
  color: black;
  font-size: 20px;
  line-height: 20px;
  margin: 24px;
  margin-bottom: 0;
  position: relative;
}

.close-button {
  position: absolute;
  top: -18px;
  right: -18px;
}

a {
  color: mat.get-color-from-palette($primary-palette, default);
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.credit {
  margin-top: 30px;
}
