<h1 mat-dialog-title>
  <div class="close-button">
    <button mat-icon-button [mat-dialog-close]="true">
        <mat-icon aria-label="Settings">close</mat-icon>
    </button>
  </div>
  About
</h1>
<div mat-dialog-content>
  <p>
    Settlers of Catan is a fantastic game, but the layout of the board can often mean that the
    outcome of the game is decided by who got to pick the one great spot on the board. Settlers
    Setup is an algorithm that attempts to generate "balanced" boards, where resources are evenly
    distributed and good roll numbers are spread out across the board.
  </p>

  <p>
    <a href="https://github.com/cgagliardi/settlers-setup">Full source code available on GitHub.</a>
  </p>

  <p class="credit">Created by Cory Gagliardi</p>
</div>
