<mat-card-title>Settings</mat-card-title>
<form [formGroup]="configForm" (ngSubmit)="emitConfig()">
  <app-config-choice label="Board Shape"
                     formControlName="boardShape"
                     [options]="boardShapes"></app-config-choice>

  <app-config-choice label="Desert Placement"
                     formControlName="desertPlacement"
                     [options]="desertPlacements"></app-config-choice>

  <app-config-slider label="Resource Distribution"
                     minLabel="Clumped"
                     maxLabel="Even"
                     formControlName="resourceDistribution"></app-config-slider>

  <div class="checkbox" [style.display]="hasDefaultPorts ? 'block' : 'none'">
    <mat-checkbox formControlName="shufflePorts">Shuffle ports</mat-checkbox>
  </div>
  <div class="checkbox">
    <mat-checkbox formControlName="allowResourceOnPort">Allow same resource as port</mat-checkbox>
  </div>

  <button mat-raised-button color="accent"
          type="submit">Generate</button>
</form>
