<mat-card-title>Settings</mat-card-title>
<form [formGroup]="configForm" (ngSubmit)="emitConfig()">
  <app-config-choice label="Board Shape"
                     formControlName="boardShape"
                     [options]="boardShapes"></app-config-choice>

  <app-config-choice label="Expansion"
                     formControlName="gameStyle"
                     [options]="gameStyles"></app-config-choice>

  <app-config-choice label="Desert Placement"
                     formControlName="desertPlacement"
                     [options]="desertPlacements"></app-config-choice>

  <app-config-choice label="Resource Dsitribution"
                     formControlName="resourceDistribution"
                     [options]="resourceDistributions"></app-config-choice>

  <div class="checkbox">
    <mat-checkbox formControlName="shufflePorts">Shuffle ports</mat-checkbox>
  </div>

  <button mat-raised-button color="accent"
          type="submit">Generate</button>
</form>
