<header class="mat-elevation-z3">
  <div class="settings-button">
    <button mat-icon-button color="accent" (click)="handleConfigButton()">
        <mat-icon aria-label="Settings">settings</mat-icon>
    </button>
  </div>
  Settlers Setup
</header>
<div class="config-slider" #configSlider
     [@toggleConfig]="configAnimationState">
  <app-sliding-card #boardConfigSlider>
    <app-board-config #boardConfig
              (configUpdate)="handleConfig($event)"
              [formState]="formState"></app-board-config>
  </app-sliding-card>
</div>
<div *ngIf="!board" class="no-board-placeholder"></div>
<div *ngIf="board" class="board">
  <div class="board-button">
    <button mat-icon-button color="primary" (click)="createBoard()">
        <mat-icon aria-label="Reset">refresh</mat-icon>
    </button>
    &nbsp;&nbsp;
    <button mat-icon-button color="primary" (click)="createBoard()">
        <mat-icon aria-label="Reset">refresh</mat-icon>
    </button>
  </div>

  <app-catan-board [board]="board"></app-catan-board>
</div>

<footer>
  Settlers Setup is in no way affiliated with Mayfair Games or Klaus Teuber, of whom Settlers of
  Catan is a registered trademark.
</footer>
