@import '../material-theme.scss';

$button-padding: 20px;
$board-padding-topbottom: 10px;
$board-padding-sides: 5px;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background: $primary;
  color: white;
  font-size: 24px;
  font-weight: bold;
  // We add an extra 100px of space above the header so that the negative scroll on Apple devices
  // continues to show the header.
  margin-top: -100px;
  padding: 118px 0 18px 20px;
  margin-bottom: 10px;
  z-index: 20;
  position: relative;

  .settings-button {
    float: right;
    margin-top: -8px;
    padding-right: $button-padding;
  }
}

.board {
  flex-grow: 1;
  padding: $board-padding-topbottom $board-padding-sides;
  position: relative;

  .board-button {
    position: absolute;
    top: 0;
    right: $button-padding - $board-padding-sides + 6px;
  }
}
