<header class="mat-elevation-z3">
  <div class="settings-button">
    <button mat-icon-button color="accent" (click)="handleConfigButton()">
        <mat-icon aria-label="Settings">settings</mat-icon>
    </button>
  </div>
  Settlers Setup
</header>

<app-sliding-card #boardConfigSlider>
  <app-board-config #boardConfig
            (configUpdate)="handleConfigUpdate($event)"
            [formState]="configFormState"></app-board-config>
</app-sliding-card>

<div class="board">
  <div class="board-button">
    <button mat-icon-button color="primary" (click)="generateBoard()">
        <mat-icon aria-label="Reset">refresh</mat-icon>
    </button>
  </div>

  <app-catan-board [board]="board"></app-catan-board>
</div>

<app-footer></app-footer>
